<table class="table is-striped is-fullwidth">
  <thead>
  <tr>
    <th>Reisnummer</th>
    <th>Opstapdatum</th>
    <th>Opstapplaats</th>
    <th>Afstapdatum</th>
    <th>Afstapplaats</th>
    <th>Aantal dagen</th>
  </tr>
  </thead>
  <tbody>
    @for (trip of trips(); track trip.id) {
      <tr>
        <td>{{ trip.id }}</td>
        <td>{{ trip.departureDate }}</td>
        <td>{{ trip.departurePort }}</td>
        <td>{{ trip.arrivalDate  }}</td>
        <td>{{ trip.arrivalPort }}</td>
        <td>{{ trip.daysAtSea }}</td>
      </tr>
    }
  </tbody>
  <tfoot>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Totaal aantal dagen</th>
    <th>{{ totalDaysAtSea }}</th>
  </tr>
  </tfoot>
</table>
