<form [formGroup]="tripForm" (ngSubmit)="submit()">
  <div class="columns">
    <label class="label column is-one-quarter" for="departureDate">Opstapdatum</label>
    <input class="input column auto" id="departureDate" formControlName="departureDate" type="date">
  </div>
  <div class="columns">
    <label class="label  column is-one-quarter" for="departureHarbour">Opstaphaven</label>
    <input class="input column auto" id="departureHarbour" formControlName="departureHarbour" type="text">
  </div>
  <div class="columns">
    <label class="label  column is-one-quarter" for="arrivalDate">Afstapdatum</label>
    <input class="input column auto" id="arrivalDate" formControlName="arrivalDate" type="date">
  </div>
  <div class="columns">
    <label class="label  column is-one-quarter" for="arrivalHarbour">Aankomsthaven</label>
    <input class="input column auto" id="arrivalHarbour" formControlName="arrivalHarbour" type="text">
  </div>
  <button class="button is-primary">Toevoegen</button>
</form>
