<form [formGroup]="tripForm" (ngSubmit)="submit()">
  <label class="label" for="departureDate">Departure date</label>
  <input class="input" id="departureDate" formControlName="departureDate" type="date">
  <label for="departureHarbour">Departure harbour</label>
  <input id="departureHarbour" formControlName="departureHarbour" type="text">
  <label for="arrivalDate">Arrival date</label>
  <input id="arrivalDate" formControlName="arrivalDate" type="date">
  <label for="arrivalHarbour">Arrival harbour</label>
  <input id="arrivalHarbour" formControlName="arrivalHarbour" type="text">
  <button class="button">Add</button>
</form>
