<form [formGroup]="tripForm" (ngSubmit)="submit()">
  <div class="block">
    <app-form-field>
      <label class="label" for="departureDate">Opstapdatum</label>
      <input class="input" id="departureDate" formControlName="departureDate" type="date">
    </app-form-field>

    <app-form-field>
      <label class="label">Opstaphaven</label>
      <input class="input" id="departureHarbour" formControlName="departureHarbour" type="text">
    </app-form-field>

    <app-form-field>
      <label class="label" for="arrivalDate">Afstapdatum</label>
      <input class="input" id="arrivalDate" formControlName="arrivalDate" type="date">
    </app-form-field>

    <app-form-field>
      <label class="label" for="arrivalHarbour">Aankomsthaven</label>
      <input class="input" id="arrivalHarbour" formControlName="arrivalHarbour" type="text">
    </app-form-field>
  </div>
  <button class="button is-primary">Toevoegen</button>
</form>
